@model Book
<form method="post">
    <label>Title:</label>
    <input type="text" name="title" asp-for="Title" />
    <br /><br />
    <label>Author firstName:</label>
    <input type="text" name="Author.FirstName" asp-for="Author.FirstName" />
    <br /><br />
    <label>Author lastName:</label>
    <input type="text" name="Author.LastName" asp-for="Author.LastName" />
    <br /><br />
    <label>Price:</label>
    <input type="number" name="price" asp-for="Price" min="1"/>
    <br /><br />
    <label>Number of pages:</label>
    <input type="number" name="numOfPages" asp-for="NumOfPages" min="1" />
    <br /><br />
    <input type="submit" />
</form>

